rpi.gpio~=0.7.1
aiohttp[speedups]~=3.9.5
transitions~=0.9.1
pygraphviz~=1.13
spidev~=3.6
prometheus_client~=0.20.0
python-dateutil~=2.9.0.post0
pandas~=2.2.2
attrs~=23.2.0
croniter~=2.0.5
prometheus_async~=22.2.0
symnet-cp~=0.4.0
python-json-logger~=2.0.7
